
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.titan-one-regular {
  font-family: "Titan One", sans-serif;
  font-weight: 200;
  font-style: normal;
}


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #c9c9c9;
}
header {
    height: 100px;
    background-color: #f4f4f4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;

}

.logo {
    display: flex;
    flex-direction: row;
    align-items:center;
    

}

.logo1 {
    color: rgb(237, 21, 13);
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 1000px;
    transform:scaleY(1.2)   
}
.logo2 {
    color: #8BC51F;
    font-family: sans-serif;
    font-size: 30px;
    font-weight: 1000px;   
    transform:scaleY(1.2)   
}

nav {
    display: flex;
    gap: 50px;
    font-color: black;
}

ul {
    display: flex;
    gap: 40px;
    list-style: none;
}
nav a {
    text-decoration: none;
    color: #222;
    font-size: 18px;
    font-family: sans-serif;
}

main {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 50px;
    min-height: 575px;
    padding: 0 80px;

}

section {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
img {
    width: 240px;
    height: 350px;

}

.tag {
    position: relative;
    width: 240px;
    height: 350px;
    object-fit: cover;
}

.tag-white {
    position: absolute;
    background-color: white;
    font-color: black;
    right: 0;
    bottom: 31px;
    padding: 5px 10px;
    transform: uppercase;

}

.tag-green {
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #8BC51F;
    font-color: black;
    padding: 5px 10px;
    transform: uppercase;

}


article {
    height: 350px;
}

article h1 {
    font-size: 35px;
    color: #202124;
    margin-bottom: 20px;

    

}

article p {
    font-size: 15px;
    margin-bottom: 20px;
    font-family: sans-serif, Helvetica, poppins normal;
    
}

article h3 {
    text-transform: uppercase;
}